.center {
    text-align: center !important;
}

.big {
    margin-bottom: 8rem;

    @include respond(tab-port) {
       margin-bottom: 5rem !important;
    }
}

.medium {
    margin-bottom: 4rem;

    
    @include respond(tab-port) {
        margin-bottom: 3rem !important;
     }
}

.small {
    margin-bottom: 1.5rem;;
}

.top {
    margin-top: 8rem;
}

.huge {
    margin-top: 10rem;
}